/* src/app/print.css */
@media print {
  body {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari, Edge */
    color-adjust: exact !important; /* Firefox */
  }

  .no-print,
  .no-print * {
    display: none !important;
  }
  
  .print-block {
    display: block !important;
  }
  
  .hidden {
    display: none !important;
  }
}
